botocore==1.35.97 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
datetime==4.7.0 ; python_version >= "3.12" and python_version < "4.0"
